name: publish
on: [push]
jobs:
  publish-hello-docker-image:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build the fender-backend-docker image
        with:
          context: src
        run: |
          docker build . --tag ghcr.io/soosan-shabnam/fender-backend:latest
          docker run ghcr.io/soosan-shabnam/fender-backend:latest
          docker push ghcr.io/soosan-shabnam/fender-backend:latest
